In [1]:
import re
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
df = pd.read_csv(r"C:\Users\Staff Asia\Downloads\construction website.csv")
df

                            company_website
0              https://www.msasafety.co.uk/
1        https://mjconstructiongroup.co.uk/
2    https://www.mjevansconstruction.co.uk/
3            https://www.mictraining.co.uk/
4               https://www.m2safety.co.uk/
..                                      ...
472        https://www.youcandoit.training/
473                   https://www.ybuk.org/
474                    https://zems.org.uk/
475             https://www.zptraining.com/
476        https://zerogravitysafety.co.uk/

[477 rows x 1 columns]

In [4]:
 # Initialize the Chrome driver
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
driver.maximize_window()

In [5]:
def extract_emails_from_website(url):
    try:
        driver.get(url)
        
        # Wait for the page to fully load (optional: add explicit waits if needed)
        driver.implicitly_wait(10)  # seconds
        
        # Extract the page source
        page_source = driver.page_source
        
        # Find email addresses using regex
        time.sleep(1)
        emails = set(re.findall(r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}", page_source))
        
        # Clear the driver
#         driver.clear()
        
        return emails
    except:
        emails = "N/A"

In [6]:
temp = []

In [7]:
count = 250
for website in df['company_website'][250:]:
    print(count)
    emails = extract_emails_from_website(website)
    all_emails = {
                 "company_website":website,
                 "email":emails
                 }
    temp.append(all_emails)
    count+=1

250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476

In [9]:
df2 = pd.DataFrame(temp)
df2

,company_website,email
0,https://saintsafety.co.uk/,{}
1,https://salisburytrainingsolutions.co.uk/,{sebastian@aldusleaf.org}
2,https://www.salttraininglimited.co.uk/,{78f7996315bc402f9dcb8a2f974b82d1@sentry.wixpr...
3,https://www.salutem.co.uk/,{info@salutem.co.uk}
4,https://www.santia.co.uk/,{}
...,...,...
222,https://www.youcandoit.training/,{98b21aa53d68482b8414e892d9af0e5f@sentry-next....
223,https://www.ybuk.org/,{}
224,https://zems.org.uk/,{guleed.abokor@live.com}
225,https://www.zptraining.com/,{}
226,https://zerogravitysafety.co.uk/,{info@zerogravitysafety.co.uk}

In [8]:
df2.iloc[37]

company_website    http://www.brainspring.com/
email                   {info@brainspring.com}
Name: 37, dtype: object

In [10]:
df2.to_csv("../E-learning company in USA/construction email fromemailfinder 800-1000.csv",index=False)